body{
    background: #1e1e1e;
    font-family: Arial;
    color: white;

    display: flex;
    justify-content: center;
    align-items: center;

    height: 100vh;
}

.quiz{
    background: #333;
    padding: 30px;
    border-radius: 10px;
    width: 400px;
}

button{
    width: 100%;
    padding: 10px;
    margin: 10px 0;

    border: none;
    border-radius: 5px;

    background: rgb(17, 96, 40);
    color: white;

    cursor: pointer;
}