body
{background-image: url('assets/tela-de-fundo.jpg')}

.container{
  position: absolute;
  top: 40%;
  left: 50%;
    transform: scale(120%) translate(-50%, -50%);
    border-radius: 15px;
    border: 2px solid rgb(0, 0, 0);
    padding: 30px;
}
.login
{border-color: aqua;
  border-radius: 10px;
  border-width: 10px;
  align-items: center;
  
  }
