body {
    background-image: url('assets/tela-de-fundo2.png');
    font-family: Arial;
    color: white;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100vh;
}

.quiz {
    
     backdrop-filter: blur(4px);
    padding: 150px;
    border-radius: 10px;
    border: solid;
    border-width: 2px;
    border-color: rgb(236, 11, 11) ;
    width: 400px;
}

button {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    text-transform: uppercase;
    border: none;
    border-radius: 5px;

    background: rgb(17, 96, 40);
    color: white;

    cursor: pointer;
}
button:hover {
    background: rgb(55, 190, 14);
}