* {overflow: hidden;}
    
body {

    background-size: cover;
    background-image: url('assets/tela-de-fundo2.png');
    font-family: Arial;
    color: white;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100vh;
}

.quiz{
    backdrop-filter: blur(2px);
    max-width: 100%;
    height: 80%;
    padding: px;
    border-radius: 10px;
    border: solid 2px #ffff;
    width: 80%;
    ;
}

h2{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:45px;
    font-weight: bold;
}

.opcoes{

    margin-top: 18%;
    display: grid;
    max-height: none ;
    grid-template-columns: repeat(3, 1fr);

    gap: 20px;
}

button{
    background-color: transparent;
    transition: transform 0.5s;
    width: 300px;
    height: 300px;

    background-size: cover;
    background-position: center;

    border: none;
    border-radius: 15px;

    color:white;
    font-size: 20px;
    font-weight: bold;

    cursor: pointer;

    display: flex;
    align-items: end;
    justify-content: center;

    padding-bottom: 15px;

    text-shadow: 2px 2px 5px black;
}

button:hover{
    transform: scale(1.90);
}